In [307]:
import itertools as it
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1531,tt0462504,10000000,7177143,Rescue Dawn,Christian Bale|Steve Zahn|Marshall Bell|Toby H...,Werner Herzog,A true story of survival... declassified.,A US Fighter pilot's epic struggle of survival...,126,Adventure|Drama|War,Metro-Goldwyn-Mayer (MGM),9/9/2006,6.6,2006
141,tt2170439,42000000,106645357,Horrible Bosses 2,Jason Bateman|Jason Sudeikis|Charlie Day|Jenni...,Sean Anders,New Crime. Same Tools.,"Dale, Kurt and Nick decide to start their own ...",108,Comedy,New Line Cinema|BenderSpink|RatPac Entertainment,11/26/2014,6.1,2014
877,tt0133240,140000000,109578115,Treasure Planet,Joseph Gordon-Levitt|David Hyde Pierce|Emma Th...,Ron Clements|John Musker,Find your place in the universe.,When space galleon cabin boy Jim Hawkins disco...,95,Adventure|Animation|Family|Fantasy|Science Fic...,Walt Disney Pictures|Walt Disney Feature Anima...,11/26/2002,7.0,2002
680,tt0443701,30000000,68369434,The X Files: I Want to Believe,David Duchovny|Gillian Anderson|Amanda Peet|Bi...,Chris Carter,"To find the truth, you must believe.",Six years after the events of The X-Files seri...,104,Drama|Mystery|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Ten Thi...,7/24/2008,5.4,2008
1731,tt0408839,60000000,127766650,The Heartbreak Kid,Ben Stiller|Malin Ã…kerman|Michelle Monaghan|J...,Bobby Farrelly|Peter Farrelly,He waited all his life to get married. Too bad...,"Eddie, the 40-year-old confirmed bachelor fina...",116,Comedy,Conundrum Entertainment|Davis Entertainment|Dr...,10/5/2007,5.6,2007

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [34]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [298]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [12]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [299]:
answers['2'] = 'Gods and Generals'

In [21]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [102]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [26]:
round(data.runtime.mean())

110

In [101]:
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [30]:
round(data.runtime.median())

107

In [100]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [37]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [38]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [39]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [40]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [48]:
data[data['profit'] > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [49]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [62]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [80]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [68]:
data_lose = data[data['release_year'].between(2012, 2014)]
data_lose[data_lose['profit'] == data_lose['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [81]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [121]:
clean_genres = data['genres'].str.split('|')
clean_genres.explode('genres').value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [84]:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [95]:
profit_film = data[data.profit > 0].copy()
profit_film.genres = profit_film.genres.str.split('|')
profit_genres = profit_film.explode('genres').genres
profit_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [128]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [150]:
revenue_director = data[data.revenue >0].copy()
revenue_director.director = revenue_director.director.str.split('|')
revenue_director = revenue_director.explode('director')
revenue_director.groupby(['director']).revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [151]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [137]:
data_action = data[data.genres.str.contains("Action", na=False)].copy()
data_action.director = data_action.director.str.split('|')
data_action = data_action.explode('director')
data_action.groupby(['director']).director.count().sort_values(ascending=False)

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: director, Length: 364, dtype: int64

In [153]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [148]:
df = data[data['release_year'] == 2012].copy()
df['cast'] = df['cast'].str.split('|')
df = df.explode('cast')
df.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [154]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [155]:
df1 = data[data.budget > data.budget.mean()].copy()
df1['cast'] = df1['cast'].str.split('|')
df1 = df1.explode('cast')
df1.groupby('cast').cast.count().sort_values(ascending=False)

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: cast, Length: 1505, dtype: int64

In [156]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [210]:
df2 = data.copy()
df2 = df2.explode('cast') #Разделяем актоеров
df3 = df2[df2.cast.str.contains('Nicolas Cage', na=False)].copy() #фильмы с Nicolas Cage

df3['genres'] = df3['genres'].str.split('|')  #Убираем |
df3 = df3.explode('genres') #Разделяем жанры

df3.groupby('genres').genres.count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [212]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [235]:
low_film = data.copy()
low_film['production_companies'] = low_film['production_companies'].str.split('|') 
low_film = low_film.explode('production_companies')
low_film_P = low_film[low_film.production_companies.str.contains('Paramount Pictures', na=False)]
low_film_P.groupby('original_title').profit.sum().sort_values(ascending=True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

In [223]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [225]:
access_movie = data.copy()
access_movie.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [226]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [234]:
high_profit = data.copy()
high_profit['production_companies'] = high_profit['production_companies'].str.split('|') #Отделяем названия студий в строке
high_profit = high_profit.explode('production_companies') #Разделяем названия студий
high_profit_W = high_profit[high_profit.production_companies.str.contains('Warner Bros', na=False)] #Оставляет только с Warner Bros
high_profit_W.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

In [233]:
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [253]:
month = data.copy()
month['month'] = pd.to_datetime(data.release_date).dt.month #Переводим формат времени и создаем столбец только с месяцами
month['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [252]:
answers['21'] = 9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [271]:
month = data.copy()
month['month'] = pd.to_datetime(data.release_date).dt.month #Переводим формат времени и создаем столбец только с месяцами
c = month['month'].value_counts() #Подсчет количества упоминаний 
count_1 = c[6] +c[7] +c[8] #Суммируем только по летним месяцам
count_1

450

In [304]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [289]:
director_winter = data.copy()
director_winter['month'] = pd.to_datetime(data.release_date).dt.month  #Переводим формат времени и создаем столбец только с месяцами
winter = director_winter.query('month in [12, 1, 2]') #Оставляем только зимние месяцы
winter.groupby('director').month.count().sort_values(ascending=False)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: month, Length: 332, dtype: int64

In [303]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [245]:
long_24 = data.copy()
long_24['production_companies'] = long_24['production_companies'].str.split('|') #Отделяем
long_24 = long_24.explode('production_companies') #Разделяем
long_24['lenght'] = long_24['original_title'].str.len()  #Создаем столбец с длинной символов
long_24.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)

                            lenght
production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
...                            ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0

[1771 rows x 1 columns]

In [246]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [248]:
long_25 = data.copy()
long_25['production_companies'] = long_25['production_companies'].str.split('|') #Отделяем
long_25 = long_25.explode('production_companies') #Разбиваем
long_25['lenght'] = long_25['overview'].str.len() #Создаем столбец с длинной слов
long_25.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)

                                       lenght
production_companies
Midnight Picture Show                  1000.0
Room 9 Entertainment                    964.0
Brookwell-McNamara Entertainment        936.0
Lions Gate Family Entertainment         909.0
Crest Animation Productions             909.0
...                                       ...
London Boulevard                         74.0
Henceforth                               74.0
Phantom Four                             72.0
Empire Pictures                          62.0
Motion Picture Corporation of America    59.0

[1771 rows x 1 columns]

In [249]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [292]:
data.original_title[data.vote_average.quantile(.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [293]:
answers['26'] = ('Inside Out', 'The Dark Knight', '12 Years a Slave')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [309]:
cast = [] #Заводим счетчик
for item in data.cast:
    data_cast = item.split('|')
    cast.extend(list(it.combinations(data_cast,2))) #Учитываем, что АБ и БА в данной задаче равнозначны
pd.Series(cast).value_counts()[:5]

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

In [302]:
answers['27'] = ('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [305]:
answers

{'6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '5': 107,
 '4': 110,
 '3': 'Winnie the Pooh',
 '12': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Action',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '21': 9,
 '22': 450,
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave'),
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '23': 'Peter Jackson'}

In [306]:
len(answers)

27